[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

@media only screen and (min-width: 0) {
  .container {
    width: 100%
  }
} 

@media only screen and (min-width: 600px) {
  .container {
    width: 600px;
  }
} 

@media only screen and (min-width: 960px) {
  .container {
    width: 820px;
  }
} 

@media only screen and (min-width: 1280px) {
  .container {
    width: 1180px;
  }
}

body { position: unset !important; }

.container { margin: 0 auto; min-width: 360px; }

.right { float: right; }

.static { position: absolute; }

.gutter { margin: 15px; }
  .gutter.gutter-left { margin-left: 15px; }
  .gutter.gutter-right { margin-right: 15px; }
  .gutter.gutter-top { margin-top: 15px; }
  .gutter.gutter-bottom { margin-bottom: 15px; }
  .gutter.escape-gutter-left { margin-left: -15px; }
  .gutter.escape-gutter-right { margin-right: -15px; }
  .gutter.escape-gutter-top { margin-top: -15px; }
  .gutter.escape-gutter-bottom { margin-bottom: -15px; }

pre.prettyprint {
  background-color: #fff !important;
  padding: 15px !important;
  border: 1px solid #ccc !important;
}

md-input-container .md-placeholder, md-input-container label:not(.md-no-float):not(.md-container-ignore) {
  max-width: calc(100% - 3px) !important;
}
